@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a233a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-hanken-grotesk);
  --font-secondary: var(--font-archive-narrow);
}

@theme {
  /* Main colors */
  --color-background: #ffffff;
  --color-foreground: #0a233a;

  /* Fonts */
  --font-sans: "Hanken Grotesk", sans-serif;
  --font-secondary: "Archivo Narrow", sans-serif;

  /* Marine palette */
  --color-marine-100: #d8e4f0;
  --color-marine-200: #b3c8e0;
  --color-marine-300: #8caac9;
  --color-marine-400: #648db2;
  --color-marine-500: #3e709c;
  --color-marine-600: #25597f;
  --color-marine-700: #123f5c;
  --color-marine-800: #0a2e44;
  --color-marine-900: #03172e;
  --color-marine-950: #010d1a;

  /* Gold */
  --color-gold-100: #fff9e5;
  --color-gold-200: #fff2cc;
  --color-gold-300: #ffe699;
  --color-gold-400: #ffd666;
  --color-gold-500: #ffc233;
  --color-gold-600: #ebbc0f;
  --color-gold-700: #d1a10d;
  --color-gold-800: #b78b0b;
  --color-gold-900: #806006;
  --color-gold-950: #4d3903;

  /* Foreground scale */
  --color-foreground-100: #f1f6fa;
  --color-foreground-200: #dbe6f0;
  --color-foreground-300: #c5d6e6;
  --color-foreground-400: #aec6dc;
  --color-foreground-500: #96b3cf;
  --color-foreground-600: #7997b0;
  --color-foreground-700: #5d7b91;
  --color-foreground-800: #435f72;
  --color-foreground-900: #2b4353;
  --color-foreground-950: #1a2d39;

  /* Black */
  --color-black-950: #0c0c0c;
  --color-black-100: #f2f2f2;
  --color-black-200: #d9d9d9;
  --color-black-300: #bfbfbf;
  --color-black-400: #a6a6a6;
  --color-black-500: #8c8c8c;
  --color-black-600: #595959;
  --color-black-700: #404040;
  --color-black-800: #262626;
  --color-black-900: #121212;
  --color-black-950: #0c0c0c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #01142e;
    --foreground: #ededed;

    --foreground-100: #ffffff;
    --foreground-200: #f9f9f9;
    --foreground-300: #f2f2f2;
    --foreground-400: #ececec;
    --foreground-500: #e6e6e6;
    --foreground-600: #cfcfcf;
    --foreground-700: #b3b3b3;
    --foreground-800: #999999;
    --foreground-900: #7f7f7f;
    --foreground-950: #666666;

    --marine-100: #d0dce9;
    --marine-200: #a6bfd6;
    --marine-300: #7fa3c3;
    --marine-400: #5887b0;
    --marine-500: #366b97;
    --marine-600: #1e4c73;
    --marine-700: #12395c;
    --marine-800: #0a2744;
    --marine-900: #03172e;
    --marine-950: #01142e;

    --gold-100: #fff9e5;
    --gold-200: #fff2cc;
    --gold-300: #ffe699;
    --gold-400: #ffd666;
    --gold-500: #ffc233;
    --gold-600: #ebbc0f;
    --gold-700: #d1a10d;
    --gold-800: #b78b0b;
    --gold-900: #806006;
    --gold-950: #4d3903;

    --black-100: #f2f2f2;
    --black-200: #d9d9d9;
    --black-300: #bfbfbf;
    --black-400: #a6a6a6;
    --black-500: #8c8c8c;
    --black-600: #595959;
    --black-700: #404040;
    --black-800: #262626;
    --black-900: #121212;
    --black-950: #0c0c0c;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@keyframes marquee-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-left {
  animation: marquee-left 100s linear infinite;
}

.animate-delay-15s {
  animation-delay: -6s;
}
